@{
    ViewBag.Title = "Contact";
}
<h2>Grupo 01</h2>
<h3>Integrantes del equipo:</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Negron Velasquez, Wilmer Gabriel</strong>   <a href="mailto:u2023@upc.edu.pe">u2023@upc.edu.pe</a><br />
    <strong>Hablutzel Egoavil, Jaime Alberto</strong>   <a href="mailto:u2023@upc.edu.pe">u2023@upc.edu.pe</a><br />
    <strong>Corzo Herrera, Miguel Jonathan</strong>   <a href="mailto:u2023@upc.edu.pe">u2023@upc.edu.pe</a><br />
    <strong>Combe Álvarez, Agustín Junior</strong>   <a href="mailto:u2023@upc.edu.pe">u2023t@upc.edu.pe</a><br />
</address>